* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: RobotoCondensed, Arial;
    font-size: 15px;
}

.menu-bar {
    margin-left: 25px;
    margin-right: 25px;
    background: #009BDD;
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    padding: 20px;
    list-style: none;
    font-size: 17px;
}

.menu-bar ul li {
    margin-right: 45px;
}

.menu-bar ul li .fa {
    padding-right: 10px;
}

.menu-bar ul li a {
    color: #fff;
    text-decoration: none;
}

.sub-menu {
    display: none;
    border-radius: 2%;
}

.menu-bar ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: #009BDD;
    margin-left: -40px;
}

.menu-bar ul li:hover .sub-menu ul {
    display: block;
}

.menu-bar ul li:hover .sub-menu ul li {
    padding: 13px;
    background: transparent;
    border-bottom: 1px solid #fff;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li .fa-angle-right {
    padding-left: 5px;
    font-weight: bold;
}

.menu-bar ul li:hover .fa-angle-right:before {
    content: "\f107";
    color: black;
    font-weight: bold;
    opacity: 0.4;
}

.menu-bar ul .search-container {
    display: flex;
    margin: -10px 36px -10px 20px;
}

#btn-search {
    width: 40px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#btn-search .fa {
    font-size: 20px;
}

.search-container #btn-search:active {
    outline: none !important;
}

.search-container input[type=text] {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-container input[type=text]:focus {
    color: #00B4CC;
}